:root {
	/* Fonts */

	--jakarta: "Plus Jakarta Sans", sans-serif;
	--helvetica: Helvetica, sans-serif;

	/* Colors */
	--black: #000000;
	--yellow: #ffd525;

	--blue-color: #4299e1;
	--purple-color: #7551ff;
	--red-color: #e31a1a;
	--green-color: #01b574;
	--sign-in-color: #718096;
	--search-background: #0f1535;
	--light-gray-border: #e2e8f0;
	--light-gray-border-30: #e2e8f057;
	--search-btn-color: #2d3748;
	--grey-color: #a0aec0;
	--white-color: #ffffff;
	--background-dark-blue: #060b26;
	--nav-btn-background: #1a1f37;
	--nav-btn-icon-color: #0075ff;
}
