.title-base {
	font-size: 18px;
	font-weight: bold;
	line-height: 140%;
}
.blue-btn-base {
	padding: 10px 22px;
	border-radius: 12px;
	background-color: var(--nav-btn-icon-color);
	color: var(--white-color);
	font-size: 10px;
	font-weight: bold;
	line-height: 150%;
}
:root {
	&::-webkit-scrollbar {
		background-color: var(--nav-btn-background);
		width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--nav-btn-icon-color);
		border-radius: 8px;
		opacity: 0.5;
	}
}
